.title, 
.link {
    text-align: center;
    font-family: "Helvetica",sans-serif;
}

.link{
    color: rgb(255, 0, 0);
    font-size: 40px;
}

.body {
    background-color: rgb(59, 59, 59);
}

.title {
    color: rgb(14, 206, 190);
    font-size: 80px;
}